* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
}

html {
  font-size-adjust: 62.5%;
}

bodY {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  max-width: 130rem;
}

.container {
  width: 32rem;
  border-radius: 1.2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 2rem 0 hsl(221, 100%, 96%);
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result-box {
  background: linear-gradient(
    to right bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 1.2rem;
  padding: 1.8rem 2.4rem;

  display: flex;
  flex-direction: column;
}

.result-box--heading {
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.result {
  background: linear-gradient(
    to right bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 1.4rem;
}

.result-box--heading-secondary {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-bottom: 1rem;
}

.text-description {
  text-align: center;
  font-size: 0.8rem;
  color: hsla(222, 100%, 96%, 0.849);
  font-weight: 400;
  line-height: 1.2;
}

/* body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: "Hanken Grotesk";
}

.btn {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0px 8px 10px hsl(221, 100%, 96%);
    height: 350px;
    border-radius: 20px;
    display: flex;
}

.btd {
    background: linear-gradient( to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 200px;
    height: 320px;
    border-radius: 20px;
    padding: 15px 24px;
    margin-bottom: 25px;
}

.btf {
    background: linear-gradient( to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 63%;
    height: 40%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#trd {
    padding: 15px 10px;
    width: 250px;
    margin-left: 10px;
    margin-right: -10px;
}

.btd p {
    text-align: center;
}

.btr {
    color: hsl(241, 100%, 89%);
    font-size: 18px;
}

.btg {
    font-weight: 800;
    font-size: 40px;
    color: hsl(0, 0%, 100%);
    margin-bottom: -15px;
}

.fdg {
    font-weight: 400;
    font-size: 13px;
    color: hsl(241, 100%, 89%);
}

.ert {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

.tre {
    margin-bottom: 10px;
    font-size: 13.7px;
    font-weight: 400;
    color: hsl(241, 100%, 89%);
    margin-top: -18px;
}

.grv {
    font-size: 18px;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}

.tyu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 60px;
    background-color: hsla(0, 100%, 67%, 0.082);
    border-radius: 5px;
    padding: 0 12px;
    width: 200px;
    margin-bottom: 10px;
}

.tyb {
    color: hsl(0, 78%, 43%);
    display: flex;
    align-self: center;
    gap: 5px;
}

.tyd {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 60px;
    background-color: hsla(39, 100%, 56%, 0.096);
    border-radius: 5px;
    padding: 0 12px;
    width: 200px;
    margin-bottom: 10px;
}

.tyc {
    color: hsl(39, 100%, 56%);
    display: flex;
    align-items: center;
    gap: 5px;
}

.tyy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 70px;
    background-color: hsla(166, 100%, 37%, 0.048);
    border-radius: 5px;
    padding: 0 12px;
    width: 200px;
    margin-bottom: 10px;
}

.tym {
    color: hsl(166, 100%, 37%);
    display: flex;
    align-items: center;
    gap: 5px;
}

.tye {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 70px;
    background-color: hsla(234, 85%, 45%, 0.075);
    border-radius: 5px;
    padding: 0 12px;
    width: 200px;
    margin-bottom: 20px;
}

.tyn {
    color: hsl(234, 85%, 45%);
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    width: 230px;
    padding: 8px 15px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */
